{% extends "layout.html" %}
{% block body %}
<p> No wiki here. Type / in the address bar to make a new page. </p>

<!-- <form action="/{{page_name}}/save" method="POST">
  <div class = "container col-sm-offset-3 col-md-6">
    <h2> Wiki </h2>
    <div class="form-group jumbotron">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title">
      <br><br>
      <label for="content">Content</label>
      <textarea class="form-control" name="content" rows="8"> </textarea>
    </div>
    <button type="submit" value="save" class="btn btn-primary">Save</button>
</div>
</form> -->
{% endblock %}
