{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="jumbotron">
<table border="1">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Last edited date</th>
    <th>Last edited author</th>
  </tr>
{% for query in query %}
  <tr>
    <td>{{query.title}}</td>
    <td>{{wiki_linkify(query.content)|safe}}</td>
    <td>{{query.last_date}}</td>
    <td>{{query.last_author}}</td>
  </tr>
  {% endfor %}
</table>
<br><br>
<a href="/">Go to allpages</a>
</div>
</div>
{% endblock %}
