{% extends 'layout.html'%}

{% block body%}
<div class="container">
  <div class="jumbotron">
    <table>
      <tr><td><h2>{{query.title}}</h2></td></tr>
      <tr><td><h4>{{query.last_date}}</h4></td><td><h6>{{query.last_author}}</h6></td></tr>
      <br><br>
      <tr><td><h5>{{wiki_linkify(query.content)|safe}}</h5></td></tr>
    </table>
    <br><br>
    {% if session['user']%}
      <a href="/{{query.title}}/edit">Edit this page</a>
    {%else%}
      <p>If you want to edit this page, please log in</p>
      <a href='/'>Allpages</a>
    {% endif %}
  </div>
</div>

 {% endblock%}
